<%= simple_form_for @profile, :html => { :class => 'form-horizontal' , :multipart => true } do |f| %>

  <%= f.input :firstname %>
  <%= f.input :lastname %>
  <%= f.input :phoneno %>

  
  
  
  <div class="control-group">
    <%= f.label :Upload_Photo, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :photo %>
    </div>
  </div>
  
  

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                profile_path, :class => 'btn' %>
  </div>
<% end %>
