
<%= form_for [@workspace, @project , @task] , :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :task, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :assigned_to_id, 'Assigned to', :class => 'control-label' %>
    <div class="controls">
      <%= collection_select(:task, :assigned_to_id, User.all, :id, :username, :prompt => true)%>
      
    </div>
  </div>
  <div class="control-group">
    <%= f.label :status , :class => 'control-label'  %>
    <div class="controls">
    <%= collection_select(:task , :status_id , Status.all , :id,:name,:prompt => 'select status') %>
  </div></div>

  <div class="control-group">
    <%= f.label :progress , :class => 'control-label'  %>
    <div class="controls">
    <%= collection_select(:task , :progress_id , Progress.all , :id,:name,:prompt => 'select progress') %>
  </div></div>

  <div class="control-group">
    <%= f.label :Attachment , :class => 'control-label'  %>
    <div class="controls">
     <%= f.file_field @task.attachments %>  
    
  </div></div>


  
  

   <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                workspace_project_tasks_path(@workspace,@project), :class => 'btn' %>
  </div> 
<% end %>


