<div class="container">
  <% unless @tasks.empty? %>

    <table class="table table-hover">
      <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <td>
              <h5><%= link_to task.name , workspace_project_task_path(@workspace,@project,task) %>
                  <%= link_to  edit_workspace_project_task_path(@workspace,@project ,task), class: 'brand' do %>
                    <i class="icon-pencil"></i>
                  <% end %>
              </h5>
            </td>
            <td>
              <%= task.description.present? ? task.description : 'No Description' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% end %>

  <%= link_to "Add Task",new_workspace_project_task_path(@workspace , @project),:class => 'btn btn-primary' %>
  <%= link_to "Back", :back, :class => 'btn btn-primary ' %>
</div>
