<%- model_class = Task -%>

<dl class="dl-horizontal">
  <div>
  <dt><strong>Task: </strong></dt>
  <strong><dd><%= @task.name %></dd></strong></div>
  <dt><strong>Description: </strong></dt>
  <strong><dd><%= @task.description %></dd></strong>
  <dt><strong>Assigned to:</strong></dt>
  <dd><%= @assigned_to %></dd>
  <dt><strong>Status:</strong></dt>
  <dd><%= @task.status.name unless @task.status.blank? %></dd>
  <dt><strong>Progress:</strong></dt>
  <dd><%= @task.progress.name unless @task.status.blank?%></dd>
  <dt><strong>Attachments:</strong></dt>
  <% for doc in @task.attachments %>
    <%= image_tag doc.document.url(:thumb) %>
   <% end %>


</dl>

<div class="form-actions">

  <%= link_to "Back",workspace_project_tasks_path(@workspace , @project), :class => 'btn btn-primary'  %>

  <%= link_to "Edit",edit_workspace_project_task_path(@workspace ,@project,@task), :class => 'btn btn-primary' %>

  <%= link_to "Delete",workspace_project_task_path(@workspace,@project,@task),:method => 'delete',:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },:class => 'btn btn-danger' %>
  
</div>
