<%- model_class = Workspace -%>
<div class="page-header">
  
</div>
<% if @workspaces.empty? %>
       <h3>U have'nt created any Workspace yet.</h3>
<% else %>

</div>
   <% if params[:invite_btn] %>
     <div id='preview'>
       <h4>Invitation has sent to <%= @email %></h4>
       </div>
     <% end %>
<div>
<div>
    <%= form_tag workspaces_path , :method => 'get' do %>
      <p>
       <%= text_field_tag :invite   %>
       <%= submit_tag 'invite' , :name => 'invite_btn' %> 
     </p>
    <% end %>
    
  </div>

<table class="table table-striped">
  <thead>
    <tr>
      
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @workspaces.each do |workspace| %>
      <tr>
        
        <td><%= link_to workspace.name , workspace_path(workspace) %></td>
        <td><%= workspace.description %></td>
        
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_workspace_path(workspace), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      workspace_path(workspace),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<%= link_to 'New Workspace',
            new_workspace_path,
            :class => 'btn btn-primary' %>
<%= link_to 'invite people' ,  membership_index_path , :class => 'btn btn-primary'%>
