<%- model_class = Project -%>
<div class="page-header">
   <h3>You are in Workspace "<%= @workspace.name %>"" </h3>
</div>
<% if @projects.empty? %>
       <h3>U have'nt created any project</h3>
     <% else %> 
<table class="table table-striped">
  <thead>
    <tr>
      
      <th><%= model_class.human_attribute_name(:Projects) %></th>
      
      
      
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
     
    <% @projects.each do |project| %>
      <tr>
        
        <td><strong><%= link_to project.name , workspace_project_path(@workspace , project) %></strong></td>
        
        <td>
          
          <%#= link_to 'Tasks',project_tasks_path(project), :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                       edit_workspace_project_path(@workspace , project), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      workspace_project_path(@workspace , project),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %><% end %>
  </tbody>
</table>

<%= link_to 'Add Project',
             new_workspace_project_path(@workspace),
            :class => 'btn btn-primary' %>
