<%- model_class = Project -%>
<div class="page-header">
  
</div>
   <% if params[:invite_btn] %>
     <div id='preview'>
       <h4>Invitation has sent to <%= @email %></h4>
       </div>
     <% end %>
<div>
    <%= form_tag projects_path , :method => 'get' do %>
      <p>
       <%= text_field_tag :invite   %>
       <%= submit_tag 'invite' , :name => 'invite_btn' %> 
     </p>
    <% end %>
    
  </div>
<% if @projects.empty? %>
       <h3>U have'nt created any project</h3>
     <% else %> 
<table class="table table-striped">
  <thead>
    <tr>
      
      <th><%= model_class.human_attribute_name(:Projects) %></th>
      
      
      
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
     
    <% @projects.each do |project| %>
      <tr>
        
        <td><strong><%= link_to project.name , project_path(project) %></strong></td>
        
        <td>
          
          <%= link_to 'Tasks',project_tasks_path(project), :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_project_path(project), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      project_path(project),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %><% end %>
  </tbody>
</table>

<%= link_to 'Add Project',
            new_project_path,
            :class => 'btn btn-primary' %>
