<%- model_class = Project -%>
<div class="page-header">
  <div class="page-header">
   <h3>Workspace "<%= @workspace.name %>" --   Project "<%= @project.name %>"</h3>
</div>
</div> 

<dl class="dl-horizontal">
  <div class="float-left">
  <dt><strong><%= model_class.human_attribute_name(:Project) %>:</strong></dt>
  <dd><h4><%= @project.name %></h4></div><dd>   
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @project.description %></dd>
  
</dl>

<div class="form-actions">
  
  <%= link_to t('.Tasks', :default => t("helpers.links.Tasks")),
                      workspace_project_tasks_path(@workspace , @project), :class => 'btn' %>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              workspace_projects_path(@workspace), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
               edit_workspace_project_path(@workspace ,@project), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              workspace_project_path(@workspace , @project),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
