<!DOCTYPE html>
<html>
<head>
  <title>Task Tracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--   <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="./index.html">Bootstrap</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="./index.html">Home</a>
              </li>
              <li class="">
                <a href="./getting-started.html">Get started</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
 -->
 <div class="container">
  <% flash.each do |name,msg| %>
    <div class="alert alert-<%= name == :notice ? 'success' : 'error' %>" >
      <a class="close" data-dismiss="alert">x</a>
      <%= msg %>
    </div>
  <% end %>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">

      <div class="container">
        <!-- <a class="brand" href="./index.html">Project tracking</a> -->
        <%= link_to root_path, class: 'brand'  do %>
          <div  class="icon icon-home">Project Management</div>
        <% end %>

        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li><%= link_to "Hi #{current_user.username}" , profile_path %></li>
            <li><%= link_to "Logout" , destroy_user_session_path , method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign up" , new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>

  <div class="container" >
    <%= yield %>
  </div>

</body>
</html>
