<!DOCTYPE html>
<html>
<head>
  <title>Task Tracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= render :template => 'layouts/navbar' %>
<div class="container-fluid">
      <div class="row-fluid">

       <div class="span2">
        <table class="table table-hover">

          <thead><th class="container"><h3>Projects</h3></th></thead>
          <% @projects.each do |project| %>
            <tr>
              <td>
                <h5><%= link_to project.name , workspace_project_tasks_path(@workspace,project) %></h5>
              </td>
          </tr>
          <% end %>
        </table>

       </div>

      <div class="span2"></div>
       <div class="span8">
          <div class="row">
               <h3> Tasks
                ( <small>
                  <%= link_to "#{@project.name}", workspace_projects_path(@workspace),  title: "#{@project.description}", rel: 'tooltip' %>
                  <%= link_to  edit_workspace_project_path(@workspace ,@project) , class: 'brand' do %>
                    <i class="icon-pencil"></i>
                  <% end %>
                </small> )
                <!-- class: 'form-inline', for switch_workspace --> 
                <div class='pull-right'>
                 <%= form_tag( '', id: 'switch_workspace',  method: :get) do %>
                  <%= label_tag :workspace_id, 'Switch Workspace' %>
                  <%= select_tag :workspace_id, options_for_select( @workspaces.collect{ |w| [w.name, w.id]}, @workspace.id ) %>
                 <% end %>

                 

                </div>


               </h3>
          </div>

          <div class="footer-links" style="margin-left:-20%;">
            <%= yield %>
          </div>
      </div>
    </div>
  </div>

</body>
</html>







