<!DOCTYPE html>
<html>
<head>
  <title>Lighthouse</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <% if user_signed_in? %>
  <div class="container">
    <div  class="icon icon-home"></div>
    <strong><%= link_to  "HomePage" , workspaces_path %></strong>
    <div class="pull-right"> 
        
       <strong>Welcome <%= current_user.username %></strong> |
       <strong><%= link_to  "Profile" , profile_path(current_user.profile) %></strong><% end %> |
       <strong><%= link_to "Logout" , destroy_user_session_path , method: :delete %></strong> |
    </div></div></div></div>  
    <div class="page-header">
<strong>Task Project "<%= @project.name %>" and Workspace "<%= @workspace.name %>"</strong>
    </div>
<%= yield %>

</body>
</html>