<!DOCTYPE html>
<html>
<head>
  <title>Lighthouse</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">

      <div class="container">
        <!-- <a class="brand" href="./index.html">Project tracking</a> -->
        <%= link_to root_path, class: 'brand'  do %>
          <div  class="icon icon-home">Project Management</div>
        <% end %>

        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li><%= link_to "Hi #{current_user.username}" , profile_path %></li>
            <li><%= link_to "Logout" , destroy_user_session_path , method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign up" , new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
   <div class="container">
    <div class="page-header" class="row" >
       <div class="span4">
          Workspace 
         <h3><%= link_to  edit_workspace_path(@workspace) , class: 'brand' do %>
             <i  class="icon icon-edit"></i><% end %>
             <a href="#" rel="tooltip"  title="description of workspace  <%= @workspace.description %>" style= {text-decoration:none; }><%= @workspace.name %></a>
         </h3>
       </div>
    
      
       Project
         <h3><%= link_to  edit_workspace_project_path(@workspace ,@project) , class: 'brand' do %>
           <i class="icon icon-edit"></i><% end %>
           <a href="#" rel="tooltip" title="description of project  <%= @project.description %>" ><%= @project.name %></a>
         </h3>
      </div>
  </div>
    
<%= yield %>

</body>
</html>

  